<div class="pageSystem">
  <div class="content-wrapper">
    <section class="content-header">
        <div class="container">
          <button class="btn btn-primary pull-right"  data-toggle="modal" data-target="#modelAddSystem"> Add </button>
       </div>
    </section>
    <section class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-xs-6">
              <div class="small-box bg-aqua">
                  <div class="inner">
                    <h3>{{[sysName]}}</h3>
                    <p>{{[sysCode]}}</p>
                  </div>
                  <div class="icon">
                    <i class="fa fa-shopping-cart"></i>
                  </div>
                    <div class="small-box-footer">
                      <div class="text-right">
                          <button class="btn btn-warning btn-xs">properties</button>
                          <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#modelAddSystem" (click)="editSystem()">edit</button>
                          <button class="btn btn-danger btn-xs" (click)="delSystem()">delete</button>
                      </div>
                    </div>
                </div>
          </div>
          <div class="col-lg-4 col-xs-6">
              <div class="small-box bg-aqua">
                  <div class="inner">
                    <h3>SystemB</h3>
      
                    <p>TYP</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                  </div>
                  <div class="small-box-footer">
                      <div class="text-right">
                          <button class="btn btn-warning btn-xs">properties</button>
                          <button class="btn btn-info btn-xs">edit</button>
                          <button class="btn btn-danger btn-xs">delete</button>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                      <h3>SystemC</h3>
        
                      <p>NAD</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-person-add"></i>
                    </div>
                    <div class="small-box-footer">
                        <div class="text-right">
                            <button class="btn btn-warning btn-xs">properties</button>
                            <button class="btn btn-info btn-xs">edit</button>
                            <button class="btn btn-danger btn-xs">delete</button>
                        </div>
                      </div>
                  </div>
              </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                      <h3>SystemA</h3>
                      <p>CVS</p>
                    </div>
                    <div class="icon">
                      <i class="fa fa-shopping-cart"></i>
                    </div>
                      <div class="small-box-footer">
                        <div class="text-right">
                            <button class="btn btn-warning btn-xs">properties</button>
                            <button class="btn btn-info btn-xs" >edit</button>
                            <button class="btn btn-danger btn-xs">delete</button>
                        </div>
                      </div>
                  </div>
            </div>
            <div class="col-lg-4 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                      <h3>SystemB</h3>
        
                      <p>TYP</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-stats-bars"></i>
                    </div>
                    <div class="small-box-footer">
                        <div class="text-right">
                            <button class="btn btn-warning btn-xs">properties</button>
                            <button class="btn btn-info btn-xs">edit</button>
                            <button class="btn btn-danger btn-xs">delete</button>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-xs-6">
                  <div class="small-box bg-aqua">
                      <div class="inner">
                        <h3>SystemC</h3>
          
                        <p>NAD</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-person-add"></i>
                      </div>
                      <div class="small-box-footer">
                          <div class="text-right">
                              <button class="btn btn-warning btn-xs">properties</button>
                              <button class="btn btn-info btn-xs">edit</button>
                              <button class="btn btn-danger btn-xs">delete</button>
                          </div>
                        </div>
                    </div>
                </div>
          </div>
             <div class="row">
          <div class="col-lg-4 col-xs-6">
              <div class="small-box bg-aqua">
                  <div class="inner">
                    <h3>SystemA</h3>
                    <p>CVS</p>
                  </div>
                  <div class="icon">
                    <i class="fa fa-shopping-cart"></i>
                  </div>
                    <div class="small-box-footer">
                      <div class="text-right">
                          <button class="btn btn-warning btn-xs">properties</button>
                          <button class="btn btn-info btn-xs">edit</button>
                          <button class="btn btn-danger btn-xs">delete</button>
                      </div>
                    </div>
                </div>
          </div>
          <div class="col-lg-4 col-xs-6">
              <div class="small-box bg-aqua">
                  <div class="inner">
                    <h3>SystemB</h3>
      
                    <p>TYP</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                  </div>
                  <div class="small-box-footer">
                      <div class="text-right">
                          <button class="btn btn-warning btn-xs">properties</button>
                          <button class="btn btn-info btn-xs">edit</button>
                          <button class="btn btn-danger btn-xs">delete</button>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                      <h3>SystemC</h3>
        
                      <p>NAD</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-person-add"></i>
                    </div>
                    <div class="small-box-footer">
                        <div class="text-right">
                            <button class="btn btn-warning btn-xs">properties</button>
                            <button class="btn btn-info btn-xs">edit</button>
                            <button class="btn btn-danger btn-xs">delete</button>
                        </div>
                      </div>
                  </div>
              </div>
        </div>
      </div>
    </section>
    <div class="modal fade" id="modelAddSystem">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">System</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="inputCode" class="col-sm-2 control-label">Code</label>
                  <div class="col-sm-10">
                    <input type="text"  class="form-control" placeholder="Code" [formControl]="code" >
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputName"  class="col-sm-2 control-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text"  class="form-control" [formControl]="name" placeholder="Name">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success pull-left" data-dismiss="modal">Save</button>
            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>

          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</div>