<div class="content-wrapper" >
    <section class="content">
        <div class="container">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Hello World!</h1>
                        {{strMessage}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <input [(ngModel)]="title" class="form-control" type="text">
                    </div>
                </div> 
            </div>
            <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                                <button class="btn btn-primary" (click)="testAlert(title)">Search</button>
                        </div>
                    </div> 
            </div>
        </div>
    </section>
</div>