<div class="content-wrapper">
  <section class="content-header">
    <h5>Test Call Api Angular 7.</h5>
  </section>
  <section class="content">
    <div class="container">
        <table id="detailUser" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>E-mail</th>
              <th>ดูรายละเอียด</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let result of MockApi; let i=index">
              <td *ngIf="i<10">{{result.id}}</td>
              <td *ngIf="i<10">{{result.name}}</td>
              <td *ngIf="i<10">{{result.email}}</td>
              <td *ngIf="i<10"><button class="btn btn-info" data-toggle="modal" data-target="#modal-default"
                  (click)="doDetail(result)"> ดูรายละเอียด</button></td>
            </tr>
          </tbody>
        </table>
      </div>
  </section>
  <div class="modal fade" id="modal-default">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">รายละเอียด</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-3 text-right">
                <label>ชื่อ :</label>
              </div>
              <div class="col-sm-6">
                <span>{{resultDetail.name}}</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-3 text-right">
                <label>อีเมล์ :</label>
              </div>
              <div class="col-sm-6">
                <span>{{resultDetail.email}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>